body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:37px;
  background:#45aaf2;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.button_2 {
  height:22px;
  background:#45aaf2;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 4px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#45aaf2 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
  font-weight: bold;
}

header .highlight, header .current a{
  color:#45aaf2;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
  border-bottom:#45aaf2 3px solid;

}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  border-bottom:#45aaf2 3px solid;
  background:#35424a

}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"], input[type="password"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .contact input, aside#sidebar .contact textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  border-radius: 4px;
  background:#e6e6e6;
}

footer{
  padding:0px;
  margin-top:20px;
  color:#ffffff;
  background-color:#45aaf2;
  text-align: center;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
}

/* User page */
a{
  color: #5a9352;
  text-decoration: none;
}

#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#content h1{
  text-align:center;
}

/* profile nav links */
#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}

#profiletabs ul { list-style: none; display: block; width: 100%; height: 50px; position: relative;}
#profiletabs ul li { float: left; position: relative;}
#profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: #e6e6e6;
  color: black;
  margin-right: 7px;
  border: none;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#profiletabs ul li a:hover {
  text-decoration: none;
  background: #cccccc;
  color: #565656;
}

#profiletabs ul li a.sel {
  background: #45aaf2;
  color: white;
  border-color: #d1cdb5;
}

/* profile content sections */
.hidden {
  display: none;
}

.setting, .activity, .subjects {
  display: block;
  font-weight: bold;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
}

.subjects:hover {
  color: #45aaf2;
}

.setting span {
  float: left;
  width: 250px;
  font-weight: bold;
}

/* Modal User */
section {
  cursor: pointer;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#f4f4f4;
  margin: 20% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-header{
  background:#45aaf2;
  padding:15px;
  color:#fff;
}

.modal-body{
  padding:10px 20px;
}

.modal-body input[type="number"] {
  width: 80px;
}

.modal-footer{
  background:#45aaf2;
  padding:10px;
  color:#fff;
  text-align: center;
}

.modalButton{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

.modalButton:hover, .modalButton:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  #w{
    float:none;
    text-align:center;
    width:100%;
  }

  #content nav ul{
    position: relative;
    left: 18%;
  }

  #content  h1{
    position: relative;
    right: 5%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .contact button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], form input[type="password"], .contact input, .contact textarea{
    width:100%;
    margin-bottom:5px;
  }
}
.adminTable{
    width:100%;
    border-spacing: 0px;
    border-collapse: separate;
}
.adminTable th{
  height: 30px;
}
.adminTable th:first-of-type{
  border-top-left-radius: 10px;
}
.adminTable th:last-of-type{
  border-top-right-radius: 10px;
}
.adminTable th,
.adminTable td {
    padding: 15px;
    text-align: left;
}
.adminTable tr {
  line-height: 10px;
}
.adminTable tr:nth-child(even) {
    background-color: #eee;
}
.adminTable tr:nth-child(odd) {
   background-color: #fff;
}
.adminTable th {
    background-color: #35424a;
    color: white;
}
.adminTable tr > td:first-of-type
{
  border-left: 1px solid #35424a;
}
.adminTable tr > td:last-of-type{
  background:url(../img/delete.png) no-repeat;
  background-position: center;
  border-right: 1px solid #35424a;
}
.adminTable tr:last-child
{
  border-bottom: 1px solid #35424a;
}

.adminTable tr > td:last-of-type:hover
{
  background:url(../img/delete_hover.png) no-repeat;
  background-position: center;
}
.addUserBtn
{
  width:100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #35424a;
  color: #fff;
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
  outline: 0;
}
.addUserBtn:hover{
  background-color: #556977;
}

#addUserDialog{
  width:100%;
}
